<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-vue</title>
</head>
<body>
<div id="app">
  <h1>差值表达式</h1>
  <h3>{{ msg }}</h3>
  <h3>{{ count }}</h3>
  <h1>v-text</h1>
  <div v-text="msg"></div>
  <h1>v-model</h1>
  <input type="text" v-model="msg">
  <input type="text" v-model="count">
  <h2 v-on:click="showMyName">点我有惊喜</h2>
  <h1 v-html='html'></h1>
</div>
<script src="./src/dep.js"></script>
<script src="./src/watcher.js"></script>
<script src="./src/compiler.js"></script>
<script src="./src/observer.js"></script>
<script src="./src/vue.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    data: {
      msg: 'Hello Vue',
      count: 100,
      zp: 'I am zp！',
      html: '<a href="https://www.baidu.com">百度</a>'
    },
    methods: {
      showMyName() {
        alert(this.zp)
      },
    }
  })
</script>
</body>
</html>